.title-none {
  display: none;
}

.title-images {
  margin-top: 0;
  margin-bottom: 50px;
  color: $title-text-color;
  font-size: 36px;
  line-height: 1.15;
  text-align: center;
}

.content-box {
  width: 370px;
  height: 294px;
  margin-right: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}
