.section {
  padding-top: 94px;
  color: $background-portfolio;
}

.section-jobs {
  padding-top: 94px;
  padding-bottom: 94px;
  color: $background-portfolio;
}

.section-command {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}
